html {
  scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	background-image: url(http://www.lol-wallpapers.com/wp-content/uploads/2017/04/Kayle-by-wacalac-2-HD-Wallpaper-Fan-Art-Artwork-League-of-Legends-lol.jpg);
	background-size: cover;
	background-position: center;
  	background-repeat: no-repeat;
	background-attachment: fixed;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/*.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}*/


.navbar {
	background: transparent;
	height: 0%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
}

 ul {
	color: white;
	display: flex;
	list-style: none;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	position: fixed;
	padding-top: 50px;
}

 .dropdowncontent li > a {
	padding: 0px 20px;
	text-decoration: none;
	font-family: 'Merriweather', serif;
	color: #B8880C;
}

.dropdownparent img {
	height: 10%;
	width: 10%;
	opacity: .7;
}

.dropdowncontent {
	display: none;
	position: absolute;
	bottom: 10px;
	left: 40px;
	transition: .5s;
}

.dropdownparent:hover .dropdowncontent {
	display: flex;
	left: 60px;
}

.dropdownparent {
	position: relative;
}

/*section 1 starts here*/

.section1wrap {
	height: 100vh;
	width: 100vw;
	background-color: rgba(247, 247, 242, .1);
}

.sec1top {
	height: 60%;
	width: 100%;
	background-color: rgba(247, 247, 242, .1);
}

.sec1bot {
	height: 40%;
	width: 100%;
	background-color: rgba(247, 247, 242, .9);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.title {
	margin-top: 5%;
	font-size: 3em;
	font-family: 'Merriweather', serif;
	letter-spacing: 30px;
	color: #B8880C;
}

.subtitle {
	margin-top: 1%;
	font-size: 1.5em;
	font-family: 'Merriweather', serif;
	letter-spacing: 20px;
	color: #B8880C;
}

/*section 1 ends here*/

.section2wrap {
	height: 100vh;
	width: 100vw;
	background-color: rgba(247, 247, 242, .1);
	display: flex;
}

.sec2right {
	height: 100%;
	width: 50%;
	background-color: rgba(247, 247, 242, .1);
	display: flex;
	justify-content: center;
	align-items: center;
}

.imgcontainer {
	height: 50%;
	width: 80%;
}

.imgcontainer img {
	height: 100%;
	width: 100%;
	opacity: 0.9;
}

.sec2left {
	height: 100%;
	width: 50%;
	background-color: rgba(247, 247, 242, .9);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	white-space: wrap; 
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.about {
	margin-top: 25%
	font-size: 3em;
	font-family: 'Playfair Display', serif;
	color: #B8880C;
}

.aboutcontent {
	margin-top: 5%;
	margin-right: 15%;
	margin-left: 15%;
	font-size: 1.5em;
	font-family: 'Playfair Display', serif;
	color: #B8880C;
}

/*section 2 ends here*/

.section3wrap {
	height: 100vh;
	width: 100vw;
	background-color: rgba(247, 247, 242, .1);
}

.sec3top {
	height: 40%;
	width: 100%;
	background-color: rgba(247, 247, 242, .9);
	display: flex;
	justify-content: center;
	align-items: center;
}

.sec3bot {
	height: 60%;
	width: 100%;
	background-color: rgba(247, 247, 242, .1);
}

.sec3quote {
	font-size: 1.5em;
	font-family: 'Playfair Display', serif;
	color: #B8880C;
}

/*section 3 ends here*/

.sec4-5wrap {
	height: 400vh;
	width: 100vw;
	background-color: rgba(247, 247, 242, .1);
}

.sec4top {
	height: 20%;
	width: 100%;
	background-color: rgba(247, 247, 242, .1);
	display: flex;
	justify-content: center;
	align-items: center;
}

.sec4-5bot {
	height: 80%;
	width: 100%;
	background-color: rgba(3, 3, 1, .96);
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

.gallery1tag {
	font-size: 3em;
	font-family: 'Merriweather', serif;
	letter-spacing: 25px;
	color: #B8880C;
	text-shadow: .5px .5px whitesmoke;
}


.photo1container, .photo2container , .photo3container, .photo4container {
	display: flex;
	height: 20%;
	width: 80%;
	margin-top: 5%;
}

.img1 {
	height: 90%;
	width: 60%;
}

.img1 img {
	height: 100%;
	width: 100%;
	opacity: 0.9;
	border-radius: 5%
}

.imgdesc1 {
	height: 100%;
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.3em;
	font-family: 'Playfair Display', serif;
	color: #B8880C;
}

.imgdesc1 h2:hover, .imgdesc1 p:hover {
	color: #735508;
}

/*section 4-5 (gallery) ends here*/

/*section 6 spacer*/

.section6wrap {
	height: 80vh;
	width: 100vw;
}

/* section 6 ends here */

/* section 7 contact page */

.section7wrap {
	height: 100vh;
	width: 100vw;
	display: flex;
}

.contactleft {
	height: 100%;
	width: 40%;
	background-color: transparent;
}

.contactrightcontainer {
	height: 100%;
	width: 60%;
	display: block;
	background-color: rgba(247, 247, 242, .9);
}

.contactrighttop {
	height: 45%;
	width: 100%;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
}

.formcontainer {
	/*background-color: red;*/
	width: 80%;
	height: 70%;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.textform input{
	padding: 15px 20px;
	background: none;
	border: none;
	outline: none;
	border-bottom: 2px solid black;
}

button {
	background-color: #B8880C;
  	color: whitesmoke;
  	padding: 20px 22px;
  	width: 80%;
 	text-decoration: none;
  	margin: 30px 0px 0px 20px;
  	cursor: pointer;
  	border-radius: 1%;
}

.locationbox {
	background-color: transparent;
	height: 35%;
	width: 100%;
	display: flex;
}

.locinfocontainer {
	background-color: transparent;
	height: 100%;
	width: 35%;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	font-size: 1.3em;
	font-family: 'Playfair Display', serif;
	color: #B8880C;
}

.googlemapcontainer {
	height: 100%;
	width: 65%;
}

.googlemapcontainer iframe {
	height: 100%;
	width: 100%;
	padding: 5%;
}

.contactrightbot {
	height: 20%;
	width: 100%;
	/*background-color: blue;*/
	display: flex;
	justify-content: center;
}

.logo {
	height: 100%;
	width: 20%;
}

.logo img {
	height: 70%;
	width: 70%;
	padding: 5%;
}

.disclaimer {
	/*background-color: blue;*/
	padding: 5%;
	height: 50%;
	width: 70%;
	font-family: 'Playfair Display', serif;
	color: #B8880C;
}


/*mobile styles*/

@media only screen and (max-width: 600px){
	.dropdowncontent a {
		font-size: 50%;
		padding: 0px 20px;
	}
	.dropdownparent:hover .dropdowncontent {
		left: 20px;
	}
	.sec1bot {
		justify-content: center;
	}

	.title, .subtitle {
		font-size: 100%;
	}
	.subtitle {
		font-size: 50%;
		letter-spacing: 10px;
	}
	.section2wrap{
		display: flex;
		flex-direction: column;
	}

	.sec2right, .sec2left {
		height: 100vw;
		width: 100vw;
	}
	.sec2left {
		font-size: 50%;
	}
	.sec3top {
		height: 60vh;
		width: 100vw;
	}

	.sec3bot {
		height: 40vh;
		width: 100vw;
	}

	.sec3quote {
		font-size: 100%;
	}

	.gallery1tag {
		font-size: 1.5em;
	}
	.imgdesc1 h2 {
		font-size: 80%;
	}
	.imgdesc1 p {
		font-size: 50%;
	}

	.photo1container, .photo2container , .photo3container, .photo4container{
		width: 80vw;
		height: 35vh;
	}

	.locinfocontainer {
		font-size: .5em;
		width: 99.9%;
	}

	.googlemapcontainer {
		display: none;
		width: 0.1%;
	}

	.logo img {
		display: none;
	}

	.logo {
		width: 1%;
	}

	.disclaimer {
		font-size: .5em;
		width: 99%;
	}

}

/*tablet*/

@media only screen and (min-width: 601px) and (max-width: 960px) {

	.section2wrap{
		display: flex;
		flex-direction: column;
	}

	.sec2right, .sec2left {
		height: 100vw;
		width: 100vw;
	}

	.sec3top {
		height: 60vh;
		width: 100vw;
	}

	.sec3bot {
		height: 40vh;
		width: 100vw;
	}

	.sec3quote {
		font-size: 180%;
	}

	.sec4-5bot {
		height: 300vh;
		width: 100vw;
	}

	.photo1container, .photo2container , .photo3container, .photo4container{
		width: 80vw;
		height: 35vh;
	}

	.locinfocontainer {
		font-size: 1em;
	}

	.logo img {
		display: none;
	}

	.disclaimer {
		font-size: 1em;
	}

}

/*@media only screen and (min-width: 961px) {
	
}*/