html {
  scroll-behavior: smooth;
}

* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

.sec1wrap {
	height: 100vh;
	width: 100vw;
	align-items: center;
	background-color: #0C0C0C;
	display: flex;
}

.parent1 {
	height: 70%;
	width: 79.5%;
	/*background-color: red;*/
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
	padding: 50px 0;
}

.aboutlink a, .hobbieslink a, .portfoliolink a, .skillslink a {
	text-decoration: none;
	font-family: 'Bitter', serif;
	color: gold;
	font-size: 3em;
}

.aboutlink, .hobbieslink, .portfoliolink, .skillslink {
	height: 10vh;
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.aboutlink a:hover, .hobbieslink a:hover, .portfoliolink a:hover, .skillslink a:hover {
	color: #C7961E;
}

.parent2 {
	height: 70%;
	width: .5%;
	background-color: gold;
	margin: 10px;
}

.parent3 {
	height: 70%;
	width: 20%;
	/*background-color: blue;*/
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	padding: 100px 0;
}

.letter h3 {
	color: gold;
	font-family: 'Bitter', serif;
}

.letter h1 {
	color: gold;
	font-family: 'Bitter', serif;
}

.letter i {
	color: gold;
}

/*section 1 ends here*/

.sec2filler {
	height: 100vh;
	width: 100vw;
	background-color: #0C0C0C;
}

/*section 2 ends here*/

.sec3wrap {
	height: 100vh;
	width: 100vw;
	background-color: #0C0C0C;
	display: flex;
	align-items: center;
}

.sec3parent1 {
	height: 70%;
	width: 55%;
	/*background-color: red;*/
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	justify-content: center;
}

.abtimgcontainer img {
	height: 100%;
	width: 100%;
	border-radius: 10%;
}
.abtimgcontainer {
	height: 80%;
	width: 40%;
}

.sec3parent2 {
	height: 70%;
	width: 25%;
	/*background-color: blue;*/
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
	padding: 50px 0;
	text-align: right;
}

.abtcontent {
	margin-top: 10%;
	height: 90%;
	width: 90%;
	padding-right: 5%;
	color: gold;
	font-family: 'Bitter', serif;
  	overflow: hidden;
  	font-size: 1.5em;
}

.sec3parent3 {
	height: 70%;
	width: .5%;
	background-color: gold;
}

.sec3parent4 {
	height: 70%;
	width: 19.5%;
	/*background-color: green;*/
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	padding: 5% 1%;
}

/*section 3 ends here*/

.sec4filler {
	height: 100vh;
	width: 100vw;
	background-color: #0C0C0C;
}

/*section 4 ends here*/

.sec5wrap {
	height: 100vh;
	width: 100vw;
	background-color: #0C0C0C;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.sec5parent1 {
	height: 19.5%;
	width: 80%;
	/*background-color: red;*/
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 0 25%;
}
.sec5parent2 {
	height: .5%;
	width: 80%;
	display: flex;
}
.hobbyletter {
	color: gold;
	font-family: 'Bitter', serif;
	font-size: 3em;
}
.barleft {
	height: 100%;
	width: 50%;
	background-color: gold;
}
.barright {
	height: 100%;
	width: 50%;
	background-color: gold;
}
.sec5parent3 {
	height: 80%;
	width: 80%;
	display: flex;
	/*background-color: blue;*/
	align-items: center;
	justify-content: space-between;
}

.sec5cont1, .sec5cont2, .sec5cont3, .sec5cont4 {
	height: 70%;
	width: 20%;
	transition: 1s;
	box-shadow: 0px 0px 0px 0px whitesmoke;
}
.sec5image {
	width: 100%;
	height: 70%;
	border-radius: 5%;
}
.sec5image img {
	height: 100%;
	width: 100%;
	background-position: cover;
	border-radius: 5%;
}
.sec5text {
	width: 100%;
	height: 30%;
	color: gold;
	font-family: 'Bitter', serif;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.3em;
}

.sec5cont1:hover .sec5image, .sec5cont2:hover .sec5image, .sec5cont3:hover .sec5image, .sec5cont4:hover .sec5image {
	transition: 1s;
	border-radius: 5%;
	box-shadow: 0px 0px 10px 5px whitesmoke;
}





/*section 5 ends here*/

.sec6filler {
	height: 100vh;
	width: 100vw;
	background-color: #0C0C0C;
}

/*section 6 filler ends here*/

.sec7wrap {
	height: 100vh;
	width: 100vw;
	background-color: #0C0C0C;
	display: flex;
	align-items: center;
}

.sec7parent1 {
	height: 80%;
	width: 14.5%;
	/*background-color: red;*/
	display: flex;
	flex-direction: column;
	text-align: right;
	justify-content: space-between;
	padding: 5% 1%;
}

.sec7parent1 h3 {
	font-size: 2em;
}

.sec7parent2 {
	height: 80%;
	width: .5%;
	background-color: gold;
}
.sec7parent3 {
	height: 80%;
	width: 85%;
	display: flex;
	flex-direction: column;
	margin: 5% 0;
	justify-content: center;
}

.contactdetail {
	height: 35%;
	width: 50%;
	padding-right: 5%;
	color: gold;
	font-family: 'Bitter', serif;
  	overflow: hidden;
  	font-size: 1.1em;
}

.socialtags {
	height: 35%;
	width: 50%;
	color: gold;
}

.socialtags div {
	display: flex;
	border: 10%;
}

.hide {
	visibility: hidden;
}




/*responsive section*/

/*ipad view*/

@media only screen and (min-width: 601px) and (max-width: 960px) {

	.abtimgcontainer {
		width: 80%;
	}

	.sec3parent1 {
		width: 55%;
	}
	.sec3parent2{
		width: 35%;
	}
	.sec3parent3{
		width: .4%;
	}
	.sec3parent4{
		width: 9.6%;
	}
	.sec5parent3{
		flex-direction: column;
	}
	.sec5cont1, .sec5cont2, .sec5cont3, .sec5cont4 {
		height: 40%;
		width: 50%;
	}
}


/*phone view*/

@media only screen and (max-width: 600px){

	.line1 p {
		font-size: .7em;
	}

	.abtimgcontainer {
		width: 90%;
	}
	.sec5parent3{
		flex-direction: column;
	}
	.sec5cont1, .sec5cont2, .sec5cont3, .sec5cont4 {
		height: 40%;
		width: 50%;
	}

	.sec3parent1 {
		width: 45%;
	}
	.sec3parent2{
		width: 55%;
	}
	.sec3parent3{
		width: .3%;
	}
	.sec3parent4{
		width: 9.7%;
	}
	.sec5parent1{
		padding: 0;
	}
	.hide {
		display: none;
	}
	.contactdetail{
		width: 100%;
	}
}